[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SimEngine"]
	path = SimEngine
	url = https://github.com/avi-kenny/simengine
[submodule "steppedwedge"]
	path = steppedwedge
	url = https://github.com/avi-kenny/steppedwedge
[submodule "vaccine"]
	path = vaccine
	url = https://github.com/avi-kenny/vaccine
